form {
    border: 3px solid #f1f1f1;
    text-align: left;
    width: 30%;
    align-content: center;
    text-align: center;
}

.container {
    padding: 16px;
}

button {
    background-color: #00d451ce;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.cancelbtn {
    background-color: #f44336;
}
.link {
    color: white;
}
.big {
    font-weight: 650;
}

